<div class="aboutus">
	<div class="container">
		<div class="col-xs-3">
			<%= link_to cds_greeting_path do %>
				<div class="c1">
					社長からのご挨拶
				</div>
			<% end %>
			<%= link_to cds_work_path do %>
				<div class="c2">採用情報</div>
			<% end %>
			<%= link_to cds_about_us_path do %>
				<div class="c3">
					会社概要
				</div>
			<% end %>
		</div>
		<div class="col-xs-9">		
			<div class="us">
				<div class="logo" style="padding-top: 30px"><img src="/assets/sd.png"></div>
				<h3 style="padding-top: 30px">経営理念-PHILOSOPHY-</h3>
				私たちはエンタテイメントを通じて<br>
				”みんなと暮らすマチ”を幸せにします。
				<br><br>
				<h3>VISION</h3>
				ユーザー360°エンタメサービスを実現し、<br>
				全てのエンタメユーザーにとって、<br>
				なくてはならない存在になります。<br>
				全てのエンタメユーザーによろこびと笑顔を。<br>
				そして選ばれ支持される、エンタメ第一想起ブランドへ。<br>
				<br><br>
				<h3>行動指針</h3>
				<div class="sisin">
					<ul>
						<li style="color: #fff">ユーザー、現場を起点に、ニーズと変化を考え抜きます。 </li>
						<li style="color: #fff">好奇心を高め、感度高く情報を収集します。 </li>
						<li style="color: #fff">創意工夫をこらし、発信力、提案力を高めます。 </li>
						<li style="color: #fff">失敗を恐れず、明るく元気にチャレンジし続けます。 </li>
						<li style="color: #fff">基本を徹底し、目標に向かって、当事者意識をもってやり抜きます。</li>
					</ul>
				</div>
				<br>
				<br>
				<table class="table" style="width: 80%; margin: 0 auto;">
					<thead>
						<tr>
							<th style="color: #fff">会社名</th>
							<th style="color: #fff">株式会社シュガードッグ。</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="color: #fff">本店所在地</td>
							<td style="color: #fff">〒141-8609<br>東京都品川区大崎1-11-2<br>ゲートシティ大崎イーストタワー17FMAP</td>
						</tr>
						<tr>
							<td style="color: #fff">設立</td>
							<td style="color: #fff">1992年7月23日</td>
						</tr>
						<tr>
							<td style="color: #fff">資本金</td>
							<td style="color: #fff">１億円</td>
						</tr>
						<tr>
							<td style="color: #fff">代表者</td>
							<td style="color: #fff">代表取締役社長 中村信輔</td>
						</tr>
						<tr>
							<td style="color: #fff">取締役会長</td>
							<td style="color: #fff">井出 誠</td>
						</tr>
						<tr>
							<td style="color: #fff">従業員数</td>
							<td style="color: #fff">4201人(契約社員、パート含む)</td>
						</tr>
						<tr>
							<td style="color: #fff">事業拠点</td>
							<td style="color: #fff">営業所　６拠点(札幌,仙台,名古屋,大阪,広島,福岡)</td>
						</tr>
						<tr>
							<td style="color: #fff">sugardog。店舗</td>
							<td style="color: #fff">全国157店舗</td>
						</tr>
						<tr>
							<td style="color: #fff">株主</td>
							<td style="color: #fff">株式会社シュガードッグ。(100%)
						</tr>
					</tbody>
				</table>
			</div>ß
		</div>
	</div>
</div>
