<div class="greeting">
	<div class="container">
		<div class="col-xs-3">
			<%= link_to cds_greeting_path do %>
				<div class="c1">
					社長からのご挨拶
				</div>
			<% end %>
			<%= link_to cds_work_path do %>
				<div class="c2">採用情報</div>
			<% end %>
			<%= link_to cds_about_us_path do %>
				<div class="c3">会社概要</div>
			<% end %>
		</div>
		<div class="col-xs-9">		
			<div class="me">
				<img src="/assets/nakamura.jpeg" class="ce">
				<p style="font-size: 40px; color: #fff; padding-top: 70px">社長からのご挨拶</p><br>
				<p style="padding-top: 30px; color: #fff">
				平素より株式会社シュガードッグ。<br>に温かなご支援を賜り、心より御礼申し上げます。<br>

				当社は「私たちはエンタテインメントを通じて“みんなと暮らすマチ”を幸せにします。」<br>
				という経営理念を実現するため、既存事業の規模拡大、事業領域の拡大、<br>
				お客さまに支持されるサービスの拡充に継続的に取り組んでおります。<br>
				今後、チケット事業、物販事業などに加え、シネコン事業『シュガー・シネマ』<br>
				を含めた連結経営をより強化し、さらにSDグループが有する旅行事業<br>
				『SDトラベル』などとの連携も深めることで、<br>
				多角的なサービス提供と各事業の相互連携による新たなサービス開拓をはかり、<br>
				『お客様に支持される”唯一無二のエンタメ総合企業”』へさらなる成長を目指します。<br>
				全てのエンタメユーザーによろこびと笑顔を届けるため、<br>
				これまで以上に誠心誠意、ご期待に沿えるよう邁進してまいります。
				<br>
				<br>
				代表取締役社長 中村信輔-Nakamura Shinsuke-</p>
			</div>
			<br>
			<br>
			<div class="me">
				<img src="/assets/ide.jpeg" class="ce">
				<p style="font-size: 40px; color: #fff; padding-top: 70px">会長からのご挨拶</p><br>
				<p style="padding-top: 30px; color: #fff">私たちは、「ユーザー360°エンタメサービスを実現し、<br>全てのエンタメユーザーにとって、なくてはならない存在になります。」<br>というビジョンの実現に向け、				2011年にHMVジャパンを吸収合併し、<br>以降、2012年にハッツアンリミテッド、<br>
				2014年にSDシネマをグループ化し、ライブエンタメ領域とコンテンツ流通領域における<br>
				サービス領域を拡大させることで、ユーザーに寄り添うサービスの提供を目指してまいりました。<br>
				ユーザーのニーズやエンタメを取り巻くマーケット環境が大きく変化する中、<br>
				私たちは、ユーザーと現場を起点にニーズや変化を捉え、既存事業における商品やサービスの拡充、<br>
				また、新規ビジネスの開拓などにも積極的にチャレンジしています。<br>
				今後も、ユーザーや地域／社会から選ばれ・支持される「エンタメ第一想起ブランド」を目指し、<br>
				全てのエンタメユーザーによろこびと笑顔を届けてまいります。<br><br>
			取締役会長　井出　諒-Ide Makoto-</p>
			</div>

		</div>
	</div>
</div>
