<div class="work">
	<div class="container">
		<div class="col-xs-3">
			<%= link_to cds_greeting_path do %>
				<div class="c1">
					社長からのご挨拶
				</div>
			<% end %>
			<%= link_to cds_work_path do %>
				<div class="c2">採用情報</div>
			<% end %>
			<%= link_to cds_about_us_path do %>
				<div class="c3">会社概要</div>
			<% end %>
		</div>
		<div class="col-xs-9">		
			<div class="we">
				<p style="font-size: 20px; color: #fff; padding-top: 30px">採用情報</p><br>

			</div>
		</div>
	</div>
</div>
