<div class="work">
	<div class="container">
		<div class="col-xs-3">
			<%= link_to cds_greeting_path do %>
				<div class="c1">
					社長からのご挨拶
				</div>
			<% end %>
			<%= link_to cds_work_path do %>
				<div class="c2">採用情報</div>
			<% end %>
			<%= link_to cds_about_us_path do %>
				<div class="c3">会社概要</div>
			<% end %>
		</div>
		<div class="col-xs-9">		
			<div class="we">
				<p style="font-size: 20px; color: #fff; padding-top: 30px">採用情報</p><br>
				現在中途採用は行っておありません。<br>
				2019年度新卒採用のエントリーご希望の方はこちらからお願いいたします。<br>
				<%= link_to 'http://job.mynavi.jp/19/pc/?_vsm=yKex1xiw7Mq7QcCvAKgM0Md-gA0afh_IIbaMDodjjj8fpUq7HLKYUPDeOdVFfGNUI6yGUtuspvH_7o1XhCX8lQmKClvqNDT0TzKawCFghCNXdGXT1JH8IRlgx5zH2uYGne8j6mgPJvqFCRpa_wplk-qUObViKKcRiHYRVCCO9JDOV0OkkoJjji3JY9D0UtGpgEUjROm7ieLSURCS0WRCyCKtJlMuMHhkG60UfUDTFUI' do %>
				<img src="/assets/munavi.gif", style="padding-top: 30px">
<% end %>
			</div>
		</div>
	</div>
</div>
