<div class="container-fluid">
  <div class="row">
    <%= render 'users/list', user: @user %>
	<div class="col-lg-9">
		<div class="main-menu">
    		<div class="title-headline">退会のお手続き</div>
			<div class="form-horizontal">
                <h3>
                    退会すると、全ての情報が失われ、ログインできなくなりますが、<br>
                    よろしいですか？
                </h3>
                <%= link_to "はい、退会します", admin_user_path(@user), method: :delete, class: "btn btn-default destroy" %>
			</div>
		</div>
  	</div>
  </div>
</div>