<div class="container-fluid">
  <div class="row">
    <%= render 'users/list', user: @user %>
	<div class="col-lg-9">
		<div class="main-menu">
    		<div class="title-headline">退会のお手続き</div>
			<div class="form-horizontal">
				<%#= form_for(@user) do |f| %>
		        <div class="form-group">
                    <label class="control-label col-sm-3 nav-text" for="email">メールアドレス:</label>
                    <div class="col-sm-6">
                    	<%#= f.email_field :email, class: "form-control",placeholder: "email" %>
                    </div>
		        </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 nav-text" for="password">パスワード:</label>
                    <div class="col-sm-6">
                    	<%#= f.password_field :password, class: "form-control", placeholder: "password" %>
                    </div>
                </div>
            	<div class="col-sm-9">
		            <div class="right">
		                <%#= f.submit "退会する", admin_user_path(@user), method: :delete, class: "btn btn-default destroy" %>
                        <%= link_to "退会する", admin_user_path(@user), method: :delete, class: "btn btn-default destroy" %>
		            </div>
	        	</div>
                <%# end %>
            	<br>
            	<br>
            	<br>
				<div id="myCarousel" class="carousel slide" data-ride="carousel"></div>
			</div>
		</div>
  	</div>
  </div>
</div>