<div class="col-lg-2">
	<div class="side-bar">
	 	<div class="category-box">
	    	<h3>Hello,User様</h3>
	    	<h2>Category</h2>
	    	<h3>
	    		<% genres.each do |genre| %>
	    			<li> <%= link_to genre.genre_name, genre_path(genre) %> </li>
	    		<% end %>
	    	</h3>
	  	</div>
	</div>
</div>
