<div class="col-lg-2">
	<div class="side-bar">
	 	<div class="category-box">
	 		<% if admin_signed_in? %>
	 			<h3>Hello,Admin</h3>
	 		<% elsif user_signed_in? %>
	 			<h3>Hello,様</h3>
	 		<% else %>
	    		<h3>Hello,ゲスト様</h3>
	    	<% end %>
	    	<h2>Category</h2>
	    	<h3>
	    		<% genres.each do |genre| %>
	    			<li> <%= link_to genre.genre_name, genre_path(genre) %> </li>
	    		<% end %>
	    	</h3>
	  	</div>
	</div>
</div>
