<div class="container-fluid"> 
  <div class="row">
    <div class="col-lg-3">
    	<div class="side-bar">
    	 	<div class="category-box">
		    	<h4>hello User!!</h4>
		    	<h2>my menu</h2>
		    	<ol>
			    	<li><a href="user.html" >ユーザー情報の確認</a></li>
			    	<li><a href="user_edit.html" >基本情報の編集</a></li>
			    	<li><a href="delivery.html" >お届け先追加・変更</a></li>
			    	<li><a href="pass_edit.html" >パスワード変更</a></li>
			    	<li><a href="history.html" >購入履歴</a></li>
			    	<li><a href="my_favorite.html">お気に入りアーティスト</a></li>
			    	<li><a href="user_review.html">my review</a></li>
			    </ol>
	    	</div>
		</div>
	</div>
</div>