<%= render 'shared/category', genres: @genres %>
<div class="col-lg-9">
	<div class="col-lg-10 col-lg-offset-1">
	    <div class="main-menu">
	    	<h3>購入履歴</h3>



			<button class="list-group-item" data-toggle="collapse" data-target="#demo" style="background-color: #cecece7d">2018/2/1</button>
			  <div id="demo" class="collapse">
			  	<ul class="list-group">
			  		<li class="list-group-item" >
			  			<div class="status_label"><span class="label label-info">この商品はただ今準備中です。</span></div>
			      		<table class="table">
			      			<thead>
				      		  <tr>
						        <th colspan="3"><div>商品内容</div>
						      </tr>
						  	</thead>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/rad2.jpg"></a></td>
					        <td><a href="cd_show.html">君の名は。</a><br><a href='favorite_artist.html'>RADWIMPS</a></td>
					        <td>2916円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/aiko1.jpg"></a></td>
					        <td><a href="cd_show.html">May Dream</a><br><a href='favorite_artist.html'>aiko</a></td>
					        <td>3146円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/momus2.jpg"></a></td>
					        <td><a href="cd_show.html">二十歳のモーニング娘。</a><br><a href='favorite_artist.html'>モーニング娘。</a></td>
					        <td>1543円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <th colspan="2">小計</th>
					        <td>7605円(税込)</td>
					      </tr>
					      <tr>
					        <th colspan="2">代引手数料</th>
					        <td>324円(税込)</td>
					      </tr>
					      <tr>
					        <th colspan="2">合計</th>
					        <td>7929円(税込)</td>
					      </tr>
					       <tr>
					        <th colspan="3"><div>お手続内容</div>
					      </tr>
					      <tr>
					        <th>お支払方法</th>
					        <td colspan="2">代引き</td>
					      </tr>
					      <tr>
					        <th>お届け先</th>
					        <td colspan="2">佐藤犬代<br>
					                        〒150-0041<br>
					                        東京都渋谷区神南1丁目19番11号パークウェースクエア2 4階<br>
					                        03-6868-8470
					        </td>
					      </tr>
					  	</table>
					</li>
				</ul>
			</div>


			<br>
						<button class="list-group-item" data-toggle="collapse" data-target="#demo2" style="background-color: #cecece7d">2018/3/3</button>
			  <div id="demo2" class="collapse">
			  	<ul class="list-group">
			  		<li class="list-group-item" >
			  			<div class="status_label"><span class="label label-success">ただ今受付け中です。</span></div>
			      		<table class="table">
			      			<thead>
				      		  <tr>
						        <th colspan="3"><div>商品内容</div>
						      </tr>
						  	</thead>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/aiko2.jpg"></a></td>
					        <td><a href="cd_show.html">泡のような愛だった。</a><br>aiko</td>
					        <td>2000円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/aiko1.jpg"></a></td>
					        <td><a href="cd_show.html">May Dream</a><br>aiko</td>
					        <td>2000円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <td><a href="cd_show.html"><img class="cart_show_image" src="cd_image/momus2.jpg"></a></td>
					        <td><a href="cd_show.html">二十歳のモーニング娘。</a><br>モーニング娘。</td>
					        <td>1500円（税込)<br><a href="review_form.html"><button class="btn btn-default write">write review</button></a></td>
					      </tr>
					      <tr>
					        <th colspan="2">小計</th>
					        <td>5500円(税込)</td>
					      </tr>
					      <tr>
					        <th colspan="2">代引手数料</th>
					        <td>324円(税込)</td>
					      </tr>
					      <tr>
					        <th colspan="2">合計</th>
					        <td>5824円(税込)</td>
					      </tr>
					       <tr>
					        <th colspan="3"><div>お手続内容</div>
					      </tr>
					      <tr>
					        <th>お支払方法</th>
					        <td colspan="2">代引き</td>
					      </tr>
					      <tr>
					        <th>お届け先</th>
					        <td colspan="2">佐藤犬代<br>
					                        〒150-0041<br>
					                        東京都渋谷区神南1丁目19番11号パークウェースクエア2 4階<br>
					                        03-6868-8470
					        </td>
					      </tr>
					      <tr>
					      	<td colspan="3">
					      		<a href="history.html"><div class="status_label"><button class="btn btn-default destroy">destroy</button></div></a>
					      	</td>
					      </tr>
					  	</table>
					</li>
				</ul>
				</div>
			</div>
	    </div>
	</div>
</div>>