<!DOCTYPE html>
<html>
  	<head>
	    <title>Sugardog</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <html lang="en">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="sugerdog.css">
		<title>sugerdog.</title>
	</head>
	    <!-- ここからコードを書きましょう -->
	    <body>
	    <!-- header -->
		 	<header class="navbar-fixed-top">
		    <!-- nav -->
		        <nav class="clearfix">
		       		<div class="title">sugerdog。</div>
				 	<div class="search-box">
						<form>
							<dl>
								<dt><input class="search-form" type="text" name="search" placeholder="Search" value=""></dt>
								<dd><a href="search.html"><button class="search-button fa fa-search"></button></a></dd>
							</dl>
						</form>
					</div>
			        <ul class="nav-list clearfix">
			          	<a href="index.html" class="nav-list-item"><div class="white"><div class="nav-text white">home</div></div></a>
			            <a href="sign_up.html" class="nav-list-item"><div class="nav-text white">sign up</div></div></a>
			            <a href="login.html" class="nav-list-item"><div class="nav-text white">login</div></div></a>
			            <a href="user.html" class="nav-list-item"><div class="nav-text white">mymenu</div></a>
			            <a href="cart_index.html" class="nav-list-big"><li class="fa fa-shopping-cart white" style="font-size: 45px"><br><div class="nav-text white">cart</div></li></a>
			        </ul>
				</nav>
		    </header>


<!-- ここからadmin header -->
	  <!--       <header class="admin">
        <nav class="clearfix admin">
        	<div class="clearfix header_nav">
            <a href="admin.html"><div class="admin_nav-list-item">TOP</div></a>
        		<a href="cd_form.html"><div class="admin_nav-list-item">CDの追加</div></a>
            <a href="user_index.html"><div class="admin_nav-list-item">ユーザー<br>一覧</div></a>
            <a href="artist.html"><div class="admin_nav-list-item">アーティスト<br>設定</div></a>
            <a href="genre.html"><div class="admin_nav-list-item">ジャンル<br>設定</div></a>
            <a href="campaign.html"><div class="admin_nav-list-item">キャンペーン<br>設定</div></a>
            <a href="postage.html"><div class="admin_nav-list-item">送料設定</div></a>
            <a href="review_history.html"><div class="admin_nav-list-item">レビュー<br>履歴</div></a>
            <a href="cart_history.html"><div class="admin_nav-list-item">購入履歴</div></a>
            <a href="top_image_edit.html"><div class="admin_nav-list-item">Topイメージ<br>設定</div></a>
        	</div>
        </nav>
    </header> -->
	    <%= yield %>
	    <body>
	</html>
